<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Song</h4>
      </div>
      <div class="card-body">
        <%= form_for @lp do |f| %>
          <% if @lp.errors.any? %>
          <div id="errorExplanation">
            <h2><%= pluralize(@lp.errors.count, "error") %> prohibited
              this lp from being saved:</h2>
            <ul>
            <% @lp.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
          <% end %>
          <div class="row">
            <div class="col-md-6">
                <label class="bmd-label-floating"><%= f.label :name %></label>
                <%= f.text_field :name, class: 'form-control input' %>
            </div>
            <div class="col-md-12">
                <label class="bmd-label-floating"><%= f.label :description %></label>
                <%= f.text_area :description, class: 'form-control input' %>
            </div>
          </div>
          <%= f.submit class: 'btn btn-primary' %>
          <div class="clearfix"></div>
          <% end %>
      </div>
    </div>
  </div>
</div>
