
<div class="col-md-9">
  <div class="card">
    <div class="card-header card-header-primary">
      <h4 class="card-title ">Listing Songs</h4>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class=" text-primary">
            <th>Name</th>
            <th>Description</th>
            <th>Artist</th>
            <th></th>
            <th></th>
          </thead>
          <tbody>
            <% @Lps.each do |lp| %>
              <tr>
                <td><%= lp.name %></td>
                <td><%= lp.description %></td>
                <td><%= lp.artist.name %></td>
                <td><%= link_to 'Edit', :action => :edit, :id => lp.id %></td>    
                <td><%= link_to 'Destroy', { :action => :destroy, :id => lp.id }, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>

              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <a href="./" class="btn btn-primary">Home</a>

</div>


