</table>

<div class="col-md-9">
  <div class="card">
    <div class="card-header card-header-primary">
      <h4 class="card-title ">Listing Artists</h4>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class=" text-primary">
            <th>Name</th>
            <th>Description</th>
            <th></th>
            <th></th>
          </thead>
          <tbody>
            <% @artists.each do |artist| %>
              <tr>
                <td><%= artist.name %></td>
                <td><%= artist.description %></td>
                <td><%= link_to 'Show', :action => :show, :id => artist.id %></td>    
                <td><%= link_to 'Edit', :action => :edit, :id => artist.id %></td>    
                <td><%= link_to 'Destroy', { :action => :destroy, :id => artist.id }, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>

              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <a href="./" class="btn btn-primary">Home</a>
  <a href="./artists/new" class="btn btn-primary">New Artist</a>

</div>
