<div class="content">
  <div class="container-fluid">

    <div class="col-md-3">
      <div class="card card-profile">
        <div class="card-body">
          <h4 class="card-title"><%= @artist.name %></h4>
          <h6 class="card-category text-gray">Total Songs: <%= @artist.lps.length %> </h6>

          <p class="card-description">
            <%= @artist.description %>
          </p>
        </div>
      </div>
    </div>



    <div class="row">
      <div class="col-md-5">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title ">Songs of <%= @artist.name %></h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>Name</th>
                  <th>Description</th>
                </thead>
                <tbody>
                  <% @artist.lps.each do |lp| %>
                    <tr>
                      <td><%= lp.name %></td>
                      <td><%= lp.description %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Add a Song</h4>
          </div>
          <div class="card-body">
            <%= form_for([@artist, @artist.lps.build]) do |f| %>
              <div class="row">
                <div class="col-md-6">
                    <label class="bmd-label-floating"><%= f.label :name %></label>
                    <%= f.text_field :name, class: 'form-control input' %>
                </div>
                <div class="col-md-12">
                    <label class="bmd-label-floating"><%= f.label :description %></label>
                    <%= f.text_area :description, class: 'form-control input' %>
                </div>
              </div>
              <%= f.submit class: 'btn btn-primary' %>
              <div class="clearfix"></div>
              <% end %>
          </div>
        </div>
      </div>
    </div>

    <a href="./../" class="btn btn-primary">Home</a>
  </div>
</div>

